<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style4.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet'>
</head>
<body  class="gradient-background-header transparent-header front-page " background="v1.jpg" id="page-top">
 <div class="container">
 	<div class="card">
  		<div class="card-body">
   		 
   		 <h2><strong>ART</strong></h2> <br>
 
<p><strong>1.FACE PAINTING</strong><br>
Try your painting skills on your team mate!
Team of two participants,should bring their own 
colours(poster),brushes etc,participants will be 
judged based on their creativity,innovation and 
designs<br>
Duration: 40 mins<br><strong>
2.MEHENDI / TATOO DESIGN</strong><br>
Team of two drawing a various designs on the 
hands of your teammate within a given time limit.
Tattoo designing using single coloured markers 
only.<br>
Duration: 30 mins<br><strong>3.FASHION DESIGN</strong><br>
Team of two, on spot fashion theme will be given 
to the participants and they are supposed to sketch 
according to it.<br> 
Duration: 30min for designing and 10min for re￾view.<br><strong>
4.MANDALA MAKING</strong><br>
Individuals are supposed to make a mandala with 
various designs on a sheet of paper.All supplies must 
be bought by the participants.<br>
Duration: 40 mins</p>
  		</div>
  		<div class="col-sm-3">
  			<a href="file.html" class="btn btn-secondary" >BACK</a>
  		</div>
	</div>	
</div>	

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>