<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style5.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet'>
</head>
<body  class="gradient-background-header transparent-header front-page " background="v1.jpg" id="page-top">
 <div class="container">
 	<div class="card">
  		<div class="card-body">
   		 
   		 <h2>HackInOut Coding Event</h2> <br>
 
<p>This challenge lets you improve your coding skills 
with games. It all starts in the IDE dedicated for this 
game,<br> where you will code and test new ideas.This 
is your mission statement.<br> 
Solo and multiplayer coding games are turn-based: 
at each turn, your program gets new inputs and 
must output the action.<br> 
Choose a programming language: You can choose 
a language you already know or in which you are 
comfortable with. It doesnt matter even if you 
dont know any language completely, but as long 
as you know the basic syntax for <strong>for</strong>and <strong>while</strong>
loops, and <strong>if </strong>statements,<br> you should be just fine
<br>Time to code:Use your logical skills along with your 
programming skills , to solve all the three games, 
and if you do it first, you loot the prize.
<br>Lets check your code: Games have test cases to 
make sure you have solved it properly. Run your code 
by playing a test case. If the test case runs without 
errors and the given objective is solved, you move 
on to the next round. 
<br>Watch your code in action: After correcting your 
bugs, run your script to see your game in action.</p>
  		</div>
  		<div class="col-sm-3">
  			<a href="file.html" class="btn btn-secondary" >BACK</a>
  		</div>	
	</div>	
</div>	 



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>