<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="front.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">  
</head>
<body  class="gradient-background-header transparent-header front-page " id="page-top" >
<h1 align="center"> <font color="white"> <strong>CSE FEST 2018</strong></h1><br></font>
<div class='container'>
 <form action="/login/" class="container">
   <h2><font color="white" > REGISTRATION FORM</h2></font>
   <br>
   <div align="right">
   <label for="name" ><font color="white" ><b >NAME</b></label></font><br>
   </div>
   <input type="text" placeholder="Enter Name" name="name" required><br><br><br>
   <label for="name"><font color="white"><b>CLASS AND SECTION </b></label></font><br>
   <input type="text" placeholder="Eg:3A,3B,5A,5B,7A,7B" name="name" required><br><br><br>
   <div class="row">
             <div class="col-md-10 offset-md-2">
                     <a class="btn btn-light" id="btn-hover" href="file.html" role="button"><strong>NEXT</strong></a>    
             </div>
        </div>
 </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
