<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style3.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet'>
</head>
<body  class="gradient-background-header transparent-header front-page " background="v1.jpg" id="page-top">
 <div class="container">
 	<div class="card">
  		<div class="card-body">
   		 
   		 <h2><STRONG>LITERATURE</STRONG></h2> <br>
 
<p><strong>1.OPEN MIC (poetry, storytelling,stand-up 
comedy)</strong><br>
In this event each participant has to be prepared to 
recite or speak their original piece
A time interval of 5 minutes will be given to each 
participant.
No restriction on topic selection.The pieces must be 
in English. 
Winner will be selected on the basis on originality of 
content, delivering and connecting to the audience.
The pieces must be submitted in print to the coordi￾nators 15 minutes before the start of the event.Pla￾giarism or vulgarity(Stand-up) will lead to disquali￾fication.<br>
<strong>2.DEBATE</strong><br>
This event consists of two rounds:
Round 1: For the first round the topic will be given 
before-hand and each participant would have to 
speak for 2 mins for or against the topic. Time will 
be given for rebuttals.
Round 2: In second round,topic will be given on￾spot and participants will be randomly organised 
into for and against teams.
The members have to speak depending on the 
team they are in.The team that survives longest in 
terms of logics and approaches to prove themselves 
right will be deemed the winner.
Winner will be based on both individual and group 
performances.<br>
<strong>3.WRITING COMPETITION</strong><br>
It can be an essay, tale or poem.
In this competition we will provide a word, phrase, 
situation or an ending
Everyone will then be given maximum 35 mins to 
write their piece.</p>
  		</div>
  		<div class="col-sm-3">
  			<a href="file.html" class="btn btn-secondary" >BACK</a>
  		</div>
	</div>	
</div>	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>