<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style1.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet'>
</head>
<body id="page-top">
 <div class="container">
 	<div class="card">
  		<div class="card-body">
   		 
   		 <h2><strong>MUSIC</strong></h2> <br>
 
<p><strong>1.CLASSICAL MUSIC(vocals): </strong><br>
The contestants can sing anything from the Indian 
classical genre (Carnatic or Hindustani)
The time given will be 8 minutes. A warning bell 
will be given after 6 minutes and the contestants 
have to finish within 2 minutes after the warning 
bell.
The participants can use shruti box (Tanpura) or 
any other (just one) classical rhythmic instrument￾for accompanying them.<BR>
<strong>2.VOICE OF CSE</strong>:<br>
The participants may sing any film hits/album 
songs or any song from western genre.
 The total amount of time given will be 7 minutes. 
A warning bell will be give after 5 mins and the 
contestants have to finish within 2 minutes after 
the warning bell
The contestants can use a karaoke track(Strictly 
without backup vocals) or can be accompanied by 
any TWO instruments.
3.War Of Instruments
The participants can play any instrument of their 
choice in any genre.
The total amount of time given will be 7 minutes. 
A warning bell will be give after 5 mins and the 
contestants will have to wrap up in the next 2 min￾utes</p>
  		</div>
  		<div class="col-sm-3">
  			<a href="file.html" class="btn btn-secondary" >BACK</a>
  		</div>
	</div>	

</div>	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>